.u-section-1 .u-sheet-1 {
  min-height: 39px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -27px auto 5px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 54px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: -29px 0 5px auto;
  padding: 8px 28px 8px 27px;
}.u-section-3 .u-sheet-1 {
  min-height: 210px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 207px;
  background-image: url("images/1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 207px;
  background-image: url("images/31.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 207px;
  background-image: url("images/21.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 171px;
  }

  .u-section-3 .u-image-2 {
    min-height: 171px;
  }

  .u-section-3 .u-image-3 {
    min-height: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 54px;
  }

  .u-section-3 .u-image-1 {
    min-height: 131px;
  }

  .u-section-3 .u-image-2 {
    min-height: 131px;
  }

  .u-section-3 .u-image-3 {
    min-height: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-3 .u-image-1 {
    min-height: 295px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 295px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 295px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-3 .u-image-1 {
    min-height: 186px;
  }

  .u-section-3 .u-image-2 {
    min-height: 186px;
  }

  .u-section-3 .u-image-3 {
    min-height: 186px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 70px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
  font-weight: 700;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: -33px 0 10px auto;
  padding: 8px 28px 8px 27px;
}.u-section-5 .u-sheet-1 {
  min-height: 198px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.u-section-5 .u-image-1 {
  min-height: 200px;
  background-image: url("images/11.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 200px;
  background-image: url("images/32.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 200px;
  background-image: url("images/22.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-5 .u-image-1 {
    min-height: 165px;
  }

  .u-section-5 .u-image-2 {
    min-height: 165px;
  }

  .u-section-5 .u-image-3 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-5 .u-image-1 {
    min-height: 126px;
  }

  .u-section-5 .u-image-2 {
    min-height: 126px;
  }

  .u-section-5 .u-image-3 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-5 .u-image-1 {
    min-height: 284px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 284px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 284px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-5 .u-image-1 {
    min-height: 179px;
  }

  .u-section-5 .u-image-2 {
    min-height: 179px;
  }

  .u-section-5 .u-image-3 {
    min-height: 179px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 398px;
}

.u-section-6 .u-btn-1 {
  font-size: 6rem;
  margin: 106px auto 60px 323px;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-1 {
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 399px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-7 .u-image-1 {
  min-height: 451px;
  background-image: url("images/logo.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-7 .u-image-1 {
    min-height: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-7 .u-image-1 {
    min-height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 428px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-7 .u-image-1 {
    min-height: 269px;
  }
}